body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2 {
  font-weight: bold;
}

.section-content p,
p {
  font-size: 1.2em;
  line-height: 1.6;
}

.mission-image {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.mission-image:hover {
  transform: scale(1.05);
}

.why-choose-box {
  height: 180px;
  border-radius: 50%;
  background-color: #5A002B;
  color: #f9f9f9;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
